@font-face {
    font-family: 'ITC Cheltenham Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Book'), url('fonts/itc-cheltenham-std-webfont/CheltenhamStdBook.woff') format('woff');
}

   @font-face {
    font-family: 'ITC Cheltenham Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Light'), url('CheltenhamStdLight.woff') format('woff');
    }

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

* {
    font-family: 'ITC Cheltenham Std Book', Georgia, serif;
    font-size: 16px;
    line-height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.container {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    padding: 10px;
}

#header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9vh;
    z-index: 100;
    background: white;
/*    border-bottom: 1.5px solid;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.5em;
    padding: 10px 5px 10px 5px;
}


#header a {
    font-size: 18px;
    color: lightgrey;
    text-decoration: none;
}

#header a:hover {
    color: red;
}

.section {
    width: 100%;
    min-height: 100%;
    height: auto;
    scroll-snap-align: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#accomodations {
    align-items: center;
}


.text {
    padding: 0px;
    background: yellowgreen;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

.redtext {
    color: red;
}

.greytext {
    color: lightgrey;
}

img {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
}


iframe {
    width: 100%;
    height: calc(100vh - 500px);
}


a {
    color: black;
}


.map-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 400px);
}


.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    display: none;
}

.QAtext {
        column-count: 1;
        width: 100%;
        padding: 0;
        list-style-type: none;
        text-align: center;
        background: orange;
        padding-bottom: 50vh;
}        
 

}

#form {
        height: 100vh;
}

#spotify {
    height: 400px;
}

#liberty {
    background: yellow;
    padding-bottom: 50vh;
}

