@font-face {
    font-family: 'ITC Cheltenham Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Book'), url('fonts/itc-cheltenham-std-webfont/CheltenhamStdBook.woff') format('woff');
}

html {
        overflow-x: hidden;
    }

 body {
        margin: 0;
        overflow-x: hidden;
    }
    
.container {
    scroll-behavior: smooth;
    overflow: auto;
    height: 100vh; /* or any height you want */
    scroll-snap-type: y mandatory;
}

.section {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 0px;
    scroll-snap-align: start; /* Or center, end */
}

    img {
        max-width: 500px;
        height: auto; /* Maintains aspect ratio */
    }

.map-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
    display: block; 
    cursor: pointer; 
    display: flex;   
    justify-content: center;
    align-items: center;
}

    a {
        color: black;
    }


    .text {
        font-family: 'ITC Cheltenham Std Book', Georgia, serif;
        font-size: 22px;
        width: 500px;
        text-align: center;
        padding: 40px;
        list-style-type: none;
    }

    #header {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        width: 1000px;
        height: auto;
        position: fixed;
        bottom: 0px;
        z-index: 10;
        left: 50%; /* Move the header to the middle of the viewport */
        transform: translateX(-50%);
        padding: 1em;
        background: none;
    }

    #header a {
        text-decoration: none;
        color: lightgrey;
        font-family: 'ITC Cheltenham Std Book', Georgia, serif;
        font-size: 22px;
    }

        #header a:hover {
        color: red;
    }

@media screen and (max-width: 800px) {

    html {
        overflow-x: hidden;
            scroll-behavior: smooth;

    }

    .container {
        height: auto;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;

    }

    #header a {

        font-size: 18px;
    }

    .section {
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        border-bottom: 1.5px solid black;
    }

    .text {
        font-size: 18px;
    }


    img {
        width: 90%;
        max-width: 500px;
        height: auto;
    }

    .map-container {
    width: 90%;
    max-width: 500px;
    height: 300px;
}


}
