 body {
        margin: 0;
        overflow-x: hidden;
    }
    
    #container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 0px;
    }

    img {
        width: 90%;
        max-width: 500px;
        height: auto; /* Maintains aspect ratio */
    }

    iframe {
        max-width: 500px;
    }

    a {
        color: red;
    }

    .text {
        font-family: Georgia;
        font-size: 24px;
        width: 500px;
        text-align: center;
        padding: 40px;
        list-style-type: none;
    }

@media screen and (max-width: 800px) {

    #container {
        margin-top: 30px;
    }

    .text {
        font-size: 16;
    }

}